body {
    background: #FFF;
    color: #555555;
    margin: 0px;
    overflow: hidden;
}

body,
p,
ol,
ul,
td {
    font-family: helvetica, geneva, arial, sans-serif;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

a {
    transition: 0.3s;
}

a,
a:visited,
a:hover {
    color: #555555;
}

/* ------------ wrappers --------------- */

#contentwrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* ------------ content --------------- */

#content {
    width: 85%;
    min-width: 300px;
    margin: 0px auto;
    letter-spacing: -1px;
    padding: 40px 0 0px 0;
}

#content a {
    text-decoration: ;
}

.highlight {
    color: #000;
}

#content a:hover,
#content a:active {
    text-decoration: underline;
}

@media (max-width: 1440px) {
    body,
    p,
    ol,
    ul,
    td {
        font-size: 28px;
        line-height: 30px;
    }
    #content {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    body,
    p,
    ol,
    ul,
    td {
        font-size: 24px;
        line-height: 26px;
    }
    #content {
        width: 80%;
    }
}

@media (max-width: 768px) {
    body,
    p,
    ol,
    ul,
    td {
        font-size: 20px;
        line-height: 22px;
    }
    #content {
        width: 75%;
    }
}

@media (max-width: 480px) {
    body,
    p,
    ol,
    ul,
    td {
        font-size: 16px;
        line-height: 18px;
    }
    #content {
        width: 70%;
    }
}
